
.margin-right-to-dos{
  height: 100%;
  flex-grow: 1;
}
.to-dos{
  background-color: transparent;
  display: flex;
  align-content: start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 2.5vw;
  flex-grow: 1;
}
.to-do-box{
  max-width: 200px;
  min-width: 150px;
  min-height: 150px;
  max-height: 200px;
  width: 15vw;
  height: 15vw;
  background-color: aliceblue;
  margin:1.5%;
  border-radius: 8%;
  box-shadow: 12px 12px black ;
  padding: 13px 10px;
  /* padding-bottom: 18%; */
  display: flex;
  flex-direction: column;
}

.to-do-box[color="red"]{
  background-color: var(--red-color);
}
.to-do-box[color="orange"]{
  background-color: var(--orange-color);
}
.to-do-box[color="yellow"]{
  background-color: var(--yellow-color);
}
.to-do-actions{
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  height: 18.6%;
}
.to-do-actions .done{
  position: relative;
  height: 100%;
  width: 18%;
  border-radius: 20%;
  background-color: green;
  cursor:pointer;
}
.to-do-actions .done:hover{
   background-color:rgb(11, 95, 11) ;
}
.to-do-actions .remove{
  position: relative;
  height: 100%;
  width: 18%;
  border-radius: 20%;
  background-color: crimson;
  cursor:pointer;
}
.to-do-actions .remove:hover{
  background-color:rgb(146, 9, 36) ;
}
.remove::before,
.remove::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 10%;
    left: 9%; 
    background-color: #FFF;
    top: 48%;
}

.remove::before {
    transform: rotate(45deg);
}

.remove::after {
    transform: rotate(-45deg);
}
.done::before,.done::after{
  position: absolute;
  content:"";
  background-color: #FFF;
  
}
.done::after{
  left: 20%;
  bottom: 16.8%;
  width: 75%;
  height: 10%;
  transform:translateX(20%) rotate(-45deg);
  transform-origin: left bottom;
}
.done::before{
  left: 20%;
  top: 50%;
  width: 10%;
  height: 35%;
  transform:translateX(110%) rotate(-45deg);
  transform-origin: left bottom;
  
}
.content{
  flex-grow: 1;
  width: 100%;
  margin-top: 8%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8%;
}
.to-do-title{
  margin: 0.5vw;
  display: inline-flex;
  color: #FFF;
  
}
@media(max-width:720px){
  .to-dos{
    justify-content: center;
  }
}